input {
    keyboard {
        xkb {
            layout "us,ru"
        }
    }
    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
        accel-speed 0.2
        disabled-on-external-mouse
    }
    mouse {
        natural-scroll
        accel-profile "flat"
    }
}

