input {
    keyboard {
        xkb { }
    }
    touchpad {
        tap
        natural-scroll
        accel-profile "adaptive"
        accel-speed 0.2
    }
    mouse {
        natural-scroll
        accel-profile "flat"
    }
}
