[Unit]
Description=Sets max CPU Power limit

[Service]
Type=simple
ExecStart=/home/ushinnary/dotfiles/runnables/cpu-ryzen-desktop-pm.sh

[Install]
WantedBy=default.target
