[Unit]
Description=The ollama container
Requires=nvidia-cdi-regen.service
After=nvidia-cdi-regen.service

[Container]
AutoUpdate=registry
ContainerName=ollama
Image=docker.io/ollama/ollama:latest
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true
PublishPort=11434:11434
Volume=ollama:/root/.ollama:z
Environment=OLLAMA_FLASH_ATTENTION=1
Environment=OLLAMA_KV_CACHE_TYPE=q8_0
Environment=OLLAMA_NUM_PARALLEL=2
Environment=OLLAMA_MAX_BATCH_SIZE=8
Environment=OLLAMA_EMBEDDING_PARALLELISM=1
Environment=OLLAMA_MAX_SEQ_LEN=8192

[Install]
WantedBy=default.target
